/*
This app uses Bootstrap for quick CSS formatting however if specific custom CSS rules are needed they can be added in the present file.  
If a rule written in this file does not properly apply to the app it's because bootstrap rules usually take priority.
To override this default behavior add '!important' at the end of a rule to give it priority
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 
.application {
  width: 100% !important;
  height: 100vh !important;
  font-family: 'Roboto', sans-serif !important;
  background-color: black !important;
}

.bold {
  font-weight: 700 !important;
}

.big-font {
  font-size: 3rem !important;
}

.img-small {
  height: 45px !important;
}

.container-centered {
  max-width: 50rem;
}

.container-form {
  max-width: 35rem;
  height: 90vh;
}

.form-control {
  border-radius: 3px !important;
}

.max {
  bottom: 5.6rem;
  width: 100%;
  text-align: end;
  padding-right: 2.5rem;
  pointer-events: none;
}

.link {
  text-decoration: none;
}

